QTreeView {
    background-color: white;
    border: 1px solid ${secondary-color};
    padding: 5px;
}

QTreeView::item {
    padding: 5px;
}

QTreeView::item:selected {
    background-color: ${primary-color};
    color: white;
}